*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
.home {
    background: linear-gradient(90deg, #0b3e27, #197149);
   
}
.homepag{
    background-image: url(https://cdn.dribbble.com/users/1134734/screenshots/14109707/media/348107c80fb9a6d11d093d444608c21b.jpg);
    height: auto;
    width: 100%;
}

.card img{
    height: 300px;
    width: auto;
}